nav > a
{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
}
#x {
    display: flex;
}
@media screen and (max-width: 600px) {
    #x {
        flex-direction: column;
    }
}
nav {
    background-color: black;
    overflow: hidden;
    margin: 0px;
}
p,li,footer,a,dd {
    font-size: 18px;
    font-weight: 400;
    font-family: sans-serif;
    color : #151617C2;
}
li > a {
    width: 40%;
    white-space: nowrap;
    overflow-wrap: break-word;
    overflow: hidden;
}
dt {
    font-size: 22px;
    font-weight: 400;
    font-family: sans-serif;
    color : #151617C2;
}
.image {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
footer {
    text-align: center;
}
.below_img {
    font-style: italic;
}
h1 {
    font-size:45px;
}
h2 {
    font-size:35px;
}
h3 {
    font-size:25px;
}

.chess_board {
    width: min(720px,90%);
}
.pieces {
    width : max(40%,250px);
    margin-bottom: 20px;
}
.text_pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}
.text_pic > p {
    text-align: center;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
picture {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.column {
    flex: 1;
    min-width: 150px; /* Adjust based on your needs */
    margin: 10px;
}
iframe {
    width: max(600,90%);
    display: block;
}
footer > a{
    text-decoration: underline;
}
.games{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
    overflow: hidden;
}
#slides {
    display: flex;
    overflow: hidden;
}
.slide {
    width: 50%;
    margin: 25%;
}
#left, #right{
    position:absolute;
    width:50px;
    transform: translateY(+400px);
    /* margin-top: 125px; */
    cursor: pointer;
    z-index: 10;
    border-radius: 25px;
}
#left{
    left:20px;
}
#right{
    right:20px;
}
button > img {
    width :20px;
}